@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(169,164,188);
background: -moz-radial-gradient(circle, rgba(169,164,188,1) 0%, rgba(115,25,99,1) 100%);
background: -webkit-radial-gradient(circle, rgba(169,164,188,1) 0%, rgba(115,25,99,1) 100%);
background: radial-gradient(circle, rgba(169,164,188,1) 0%, rgba(115,25,99,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a9a4bc",endColorstr="#731963",GradientType=1);
}

